body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 50px;
}

.red {
  color: greenyellow;
}

.flex-it {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding: 2%;

}

.dream {
  background-image: url(images/my-bg2.png);
  background-repeat: no-repeat;
  background-position: right;
}

.develop-er {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10%;
  box-shadow: 5px 10px 40px green;

}


.experience {
  background-image: url(images/my-bg.png);
  background-position: left;
  background-repeat: no-repeat;
}


.half-width img {
  width: 80%;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}

.added {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

#my-develop {
  border-left: 7px rgb(139, 19, 123);
}

#that-is {
  border-left: 10px solid tomato;
}

footer p {
  text-align: center;
}